<div class="tab-pane" id="TermsOfService">
		<div class="terms_text">
			<h3 class="colorIR"><b>IndiaReads™ Terms of Use</b></h3>
			<p><span>This document is an electronic record in terms of Information Technology Act, 2000 and rules there under as applicable and the amended provisions pertaining to electronic records in 
			various statutes as amended by the Information Technology Act, 2000.</span></p>
			<p>Please review and understand these terms of use carefully as they contitute an ongoing contract between you and IRead Books Private Limited hereinafter referred to as 
			“IndiaReads”(the owner of IndiaReads.com). By using the IndiaReads.com website, you signify your agreement to be bound by these conditions.</p>
			<p><span>Acceptance of Terms of Use</span>
			These Terms of Use govern your use of the IndiaReads™ service and website. The Service is provided by IndiaReads and is offered to you (hereinafter referred to as 
			"Subscriber") as per your agreement with and acceptance of this document (hereinafter referred to as "Membership"). By clicking the box entitled "I have read and accept the 
			Terms and Conditions of Use" as part of the registration process, you accept all items in the Terms of Use and agree to abide by and be legally bound by the Terms of Use. If 
			you do not agree to these Terms and Conditions of Use, you should not use the IndiaReads™ service or website.</p>
			<p>These Terms of Use are an ongoing contract between you and iRead Books Pvt Ltd™ and apply to your use of the IndiaReads service and website. These Terms of Use affect 
			your rights and you should read them carefully.</p>
			<p><span>Changes to Terms of Use</span>
			iRead Books Pvt Ltd™ reserves the right, with or without notice, to change these Terms of Use in its sole and absolute discretion. The most current version of these Terms of 
			Use supersedes all previous versions and can be viewed by clicking on the "Terms of Service" link at the bottom of the pages of the IndiaReads™ website.</p>
			<p><span>Privacy</span>
			Any personal information submitted on the IndiaReads™ website is subject to our Privacy Policy, the terms of which are incorporated herein. Please review our <a href="">Privacy 
			Policy</a> to understand our practices. Our privacy policy can be viewed by clicking on the "Privacy Policy" link at the bottom of the pages of IndiaReads™ website.</p>
			<p><span>How the IndiaReads™ Service works</span>
			IndiaReads™ is an online book rental service that allows its users to rent books through its website located at <a href="">www.IndiaReads.com</a> by paying Initial Payable and charging rent 
			after return of books in Good Condition.</p>
			<p>To use IndiaReads™ a subscriber will have to register with <a href="">www.IndiaReads.com</a> to create an account. The subscriber can then browse/search books that he/she would like 
			to read, and add them to his/her Bookshelf. Once payment has been received or we have made an arrangement with the subscriber to pick up the payment at the time of 
			delivery, the selected books will be delivered to the subscriber at the shipping address provided at the time of registration as per service availability of IndiaReads in the given 
			pincode. Once the subscriber has finished reading the book, he/she can visit <a href="">www.IndiaReads.com</a> and navigate to the "Bookshelf" tab and ask for a Pick up of Books. IndiaReads™ will pick up the books from the subscriber’s shipping address and 
			refund the balance amount after charging rent in full once the books are returned in condition acceptable to IndiaReads. The right to accept or reject the acceptance of the 
			book in the condition is entirely reserved by IndiaReads based on their quality standards.</p>
			<p><span>International Access</span>
			This Site may be accessed from countries other than India. The delivery of books on rent / rental services are currently available, only in India. Users from other countries other 
			than India are free to register, browse, write reviews and use other features of this site as well as rent books in addresses in India. If you access and use this Site outside India 
			you are responsible for complying with your local laws and regulations.</p>
			<p><span>User</span>
			Upon becoming an IndiaReads™ subscriber, subscribers become responsible for paying rental fees according to the then current billing and rental terms. The rental fees is non-
			refundable.</p>
			<p><span>Automatically Sold</span>
			The book rented by Subscriber is considered sold automatically once the available rental duration of that particular book expires and thereafter IndiaReads will not be liable for 
			any refund from the Initial Payable.</p>
			<p><span>Billing</span>
			By using the IndiaReads™ service, you are expressly agreeing that we are permitted to bill you rental fee, any applicable taxes and any other charges you may incur in 
			connection with your use of the IndiaReads™ service. Additional charges may include books you fail to return, books you damage or a change in rental structure. As used in 
			these Terms of Service, "billing" shall indicate either a charge or debit, as applicable, against your Payment Method. The Initial Payable will be kept for issue of the book and 
			the rental fee will be billed on returning the book in good condition. All fees and charges are non-refundable and there are no refunds or credits for partially used periods. We 
			may change the fees and charges in effect, or add new fees and charges from time to time, but we will give you notice of these changes by email.
			In case the books are not returned during the available rental period, the book will be considered sold and no refund on account of Initial Payable will be made.</p>
			<p><span>Cancellation</span>
			Your can cancel an order for issue of books by calling or emailing IndiaReads™ customer service before the book is shipped by IndiaReads. In any discrepancy, 
			IndiaReads reserves complete rights to decide whether to cancel the order or charge the Subscriber as per the rental structure. We do not provide refunds or credits for any 
			partial-month periods and charges are strictly as per rental structure defined.</p>
			<p>IndiaReads™ reserves the right to cancel your membership without prior notice and without assigning any reasons.</p>
			<p><span>Refunds</span>
			Upon cancellation of membership, we will refund any dues after ensuring all outstanding charges applicable have been processed and all books you rented are returned as per 
			rental period and in good condition solely decided by IndiaReads. The Subscriber may give his/her choice for mode of refund. However IndiaReads reserves the right to decide 
			the mode of refund and the Subscriber will abide by it.</p>
			<p><span>Shipping Policy</span>

			IndiaReads™ handles shipping using our own delivery agents, or in partnership with a logistics provider. Within NCR/Delhi we will attempt to fulfill the delivery request within 2 
			business days of receiving a delivery request from the subscriber. Please note that our guarantee is on the book title, not book copy. That is, if you request for a particular book, 
			we will send you the copy that is currently in stock. This may or may not correspond with the publisher, book image or publishing date that you have selected. If you wish to only 
			be delivered the book copy that you have selected, please send an email to our customer service. This will however, lower the probability of you getting the books and 
			the Initial Payable and the rental structure may change based on it.</p>
			<p><span>Damaged Books</span>
			All books sent to a subscriber are verified to be in a good condition prior to dispatch and condition of each book is recorded in our system. Upon receipt of the books, you must 
			ensure that the books are in good condition. Any damage, if found, must be reported to our representative and conveyed to IndiaReads™ customer service via email. Upon 
			receipt of the books, we will verify the condition of the book against the condition recorded in our system before dispatch.
			If a book is returned to IndiaReads™ damaged as a result of subscriber misuse, IndiaReads™ will charge you the market value of each damaged book or the Initial 
			Payable solely decided by IndiaReads. If IndiaReads™ determines that a book was damaged during transit, IndiaReads™ will not charge subscriber for the damaged book.</p>
			<p><span>Typographical Errors</span>
			In the event a product is listed at an incorrect price or with incorrect information due to typographical error or error in pricing or product information received from our suppliers, 
			IndiaReads™ shall have the right to refuse or cancel any orders placed for product listed at the incorrect price. IndiaReads™ shall have the right to refuse or cancel any such 
			orders whether or not the order has been confirmed and the payment made. If the payment has already been made for the purchase and your order is cancelled, 
			IndiaReads™ shall reverse the payment or make the refund initiated in 7 business days.</p>
			<p><span>Ongoing Membership</span>
			Your IndiaReads™ membership will continue in effect unless you cancel your membership or we terminate it. We will bill the rental fees plus any applicable tax to the 
			Payment Method you select during registration (or specify later). You must cancel your membership upon return of all books you rented.</p>
			<p><span>Special Offers</span>
			Special offers, if any, are available only for first-time IndiaReads™ subscribers, unless otherwise expressly stated in the offer. IndiaReads reserves right to introduce any offer 
			or cancel any ongoing offer for all or individual users without any notice in any form.</p>
			<h2>DISCLAIMER OF WARRANTIES AND LIMITATIONS ON LIABILITY</h2>
			<p>The IndiaReads™ service and Website and its contents are provided "as is" and we make no representations or warranties of any kind with respect to the IndiaReads™ 
			website, its contents or our service. We assume no liability or responsibility for any errors or omissions in the content of the IndiaReads™ website, any failures, delays, or
			interruptions in the shipment of books, delivery of any content contained on the IndiaReads™ Website, any losses or damages arising from the use of the content 
			provided on the IndiaReads™ website, or any conduct by users of the IndiaReads™ service or website. We disclaim all representations and warranties, including, for 
			example, warranties of merchantability, fitness for a particular purpose, and non-infringement. In addition, we do not represent or warrant that the information accessible 
			via our site is accurate, complete or current.</p>
			<p>In no event shall IndiaReads™, its proprietors, shareholders, directors, officers, or employees be liable (jointly or severally) to you for any special, incidental, indirect or 
			consequential damages of any kind, or any damages whatsoever resulting from loss of use, data or profits, whether or not advised of the possibility of damage, and on any 
			theory of liability, arising out of or in connection with the use of the IndiaReads™ Website, its contents or our service. If any applicable authority holds any portion of this 
			section to be unenforceable, then liability will be limited to the fullest possible extent permitted by applicable law.</p>
			<h2>INTELLECTUAL PROPERTY</h2>
			<p><span>Copyright</span>All contents included on the IndiaReads™ website and delivered to you as part of the IndiaReads™ services, including the books themselves, are the property of IndiaReads™, its suppliers, or its advertisers, and are protected by India and 
			international copyright laws. The compilation of the content on this website is the exclusive property of IndiaReads™, and protected by Indian and international copyright 
			laws.</p>
			<p><span>Trademarks</span>
			IndiaReads™, IndiaReads.com™, IndiaReads.net, IndiaReads.in, IndiaReads.info, iRead Books Pvt Ltd™ , IndiaReads™ design logo, and all page headers, custom graphics and button icons are service marks, trademarks, and/or trade dress of iRead 
			Books Pvt Ltd™. All other trademarks, product names and company names or logos cited herein are the property of their respective owners.</p>
			<p><span>Limitations on Use</span>
			</p><ol>
			<li>You must be 16 years of age or older to subscribe to the IndiaReads™ service. Children below 16 years of age can apply under parental guidance and with 
			parental consent</li>
			<li>The IndiaReads™ website and its content are for your personal, non-commercial use. You may not download, copy, distribute, transmit, display, perform, publish, 
			license, create derivative works from, or offer for sale any IndiaReads™ content without its express written consent.</li>
			<li>You agree to use the IndiaReads™ website and any associated service in accordance with all applicable laws, rules and regulations.</li>
			<li>ndiaReads™ reserves the right to immediately terminate your subscription to utilize its website as a result of any unauthorized or illegal use, the contents of its 
			website, and/or any associated service should IndiaReads™ become aware of that unauthorized or illegal use. This right to terminate includes, but is not limited 
			to, IndiaReads™’ right to terminate your membershipif it determines subscriber abuse of IndiaReads™ policies and procedures</li>
			</ol>

			<p></p>
			<p><span>Confidentiality</span>
			You are solely responsible for maintaining the confidentiality and security of your account information and your password. If you reveal your password or share your 
			account with anyone, you take full responsibility for his/her actions, the loss of any Credits, Store Credits, Bonus Store Credits available in your account is your 
			responsibility solely and no claim on IndiaReads is valid under any circumstances.</p>
			<p><span>Indemnification</span>
			You agree to indemnify and hold harmless IndiaReads™ and its proprietor, directors, officers, employees, agents or other representatives from and against all claims, liability 
			and expenses, including all legal fees and costs arising from or relating to (a) your breach of these Terms of Service; and (b) your use of this website and associated 
			services including transmission or placement of information or material by you on this website. This provision shall survive the termination of your right to use this website 
			and/or your status as a IndiaReads™ subscriber.</p>
			<p><span>Applicable Law</span>
			Terms of Service shall be governed by and interpreted and construed in accordance with the laws of India. The place of jurisdiction shall be exclusively in Delhi.</p>
			<p><span>Reliance on Information</span>
			This website may include inaccuracies or typographical errors that may be corrected as they are discovered at IndiaReads™ sole discretion.</p>
			<p><span>Third Party Content</span>
			IndiaReads™ distributes content supplied by third parties. IndiaReads™ has no editorial control over content supplied by third parties. Any opinions, advice, statements, 
			services, offers, or other information expressed or made available by third parties, including third party content providers, advertisers, merchants, sponsors, licensors, or 
			any other user of IndiaReads™ are those of the respective authors or distributors and not of IndiaReads™ or its affiliates, or any of their respective proprietors, officers, 
			directors, employees or agents. IndiaReads™ does not guarantee the accuracy, completeness, or usefulness of any content, nor its merchantability or fitness for any 
			particular purpose. It is your sole responsibility to evaluate the information, opinion, advice, and/or any other content available through IndiaReads™. Any reviews or 
			opinions posted on the Site solely represent the views of the poster and IndiaReads™ does not subscribe to them.</p>
			<p><span>Use of Information Submitted</span>
			IndiaReads™ may use anything you send or communicate to IndiaReads™, including questions, comments, information, ideas, concepts, or reviews, without compensation or 
			acknowledgement. By posting any content on the IndiaReads™ website, or otherwise communicating that content to IndiaReads ™, you grant IndiaReads ™ a non-exclusive, 
			irrevocable and perpetual license to use that content royalty-free.</p>
			<p><span>Electronic Communications</span>
			You consent to receive electronic communications from IndiaReads ™. You agree that any communication, notice, agreement, or disclosure that we send to you electronically 
			satisfies any legal communication requirements, including that such communications be in writing.</p>
			<p><span>Use of Cookies</span>
			In order to provide easier access to your account, IndiaReads™ may place a small text file (known as a “cookie”) on any computer from which you access the IndiaReads ™ 
			website. If you return to the IndiaReads ™ website from that same computer, the cookie enables IndiaReads ™ to recognize you, without the need for you to sign in to your 
			account.</p>
			<p><span>Links to Other websites</span>
			The IndiaReads ™ website may contain hyperlinks or banner advertisements that navigate a user to another website not controlled by, or affiliated with, IndiaReads ™. In 
			addition, other websites may link to the IndiaReads ™ website. IndiaReads ™ has not reviewed these websites and is not responsible in any way for these websites, or any of 
			their content.</p>
			<p><span>Copyright Infringement</span>
			IndiaReads ™ respects the intellectual property rights of others. IndiaReads ™ does not support piracy or illegal copying of books. If you believe your work, or someone else’s 
			has been copied in a way that constitutes copyright infringement or are aware of any infringing material on the IndiaReads ™ website, please notify us by sending or 
			submitting notice of the claimed infringement to:
			Email:customercare@IndiaReads.com
			Phone: 1800-103-7323</p>
			<p><span>Limitation of Liability</span>
			IN NO EVENT SHALL IndiaReads BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES OF ANY KIND IN CONNECTION WITH THESE TERMS OF USE, 
			EVEN IF USER HAS BEEN INFORMED IN ADVANCE OF THE POSSIBILITY OF SUCH DAMAGES.</p>
		</div>
	</div>