<div class="tab-pane active" id="AboutUs">
	<div class="terms_text">
		<h3 class="colorIR"><b>About Us</b></h3>
		<div class="textable_area">
			<p>IndiaReads.com started with a vision to provide one-stop affordable reading across India. Today, it is India's largest book rental platform, with services in 500+ cities. We offer over 1.8 lac titles to choose from across genres like college textbooks, competitive exams, fiction, non-fiction, self-help, technology, management.</p>
			<p>IndiaReads.com corporate reading patform leverages tech to get employees hooked on-to a very productive habit i.e. reading. On this company branded platform, employees can cultivate reading habits &amp; refer professional recommendations for capability building.</p>
			<p>We believe that all our reading needs are mostly time-bound and renting reading resources is a cost-efficient &amp; greener alternative. Why buy, if you can just read &amp; return ? #IndiaKaLibrary</p>
		</div>
	</div>
</div>