<form class="form-horizontal">
  	<div class="form-group">
     	<label class="col-sm-3 form_tags" align="right">New Password</label>
            <div class="col-sm-9">
              	<input type="text" class="form-control box-radius inputbox-width" id="changePassword" placeholder="Enter your new password">
           </div>
 	</div><!-- form-group -->
 	<div class="form-group">
     	<label class="col-sm-3 form_tags" align="right">Re-Type Password</label>
            <div class="col-sm-9">
              	<input type="text" class="form-control box-radius inputbox-width" id="reTypePassword" placeholder="Re-Enter your new password">
           	</div>
 	</div><!-- form-group -->
	<div class="form-group">
       	<div class="col-sm-offset-3 col-sm-9">
          	<button type="submit" class="btn button-style" width="60px" ng-click="setPassword()">Save</button>
       	</div>
 	</div><!-- form-group -->
</form>