<ul class="nav nav-justified row-centered side-menu bkshlftopmenu" role="tablist">
    <li role="presentation" ui-sref-active="active">
    	<a ui-sref="account.bookshelf.available" role="tab" data-toggle="tab">Available Books</a>
    </li>
    <li role="presentation" ui-sref-active="active">
    	<a ui-sref="account.bookshelf.currentlyreading" role="tab" data-toggle="tab">Currently Reading</a>
    </li>
    <li role="presentation" ui-sref-active="active">
    	<a ui-sref="account.bookshelf.wishlist" role="tab" data-toggle="tab">InCirculation/Wishlist</a>
    </li>
    <li role="presentation" ui-sref-active="active">
    	<a ui-sref="account.bookshelf.readinghistory" role="tab" data-toggle="tab">Reading History</a>
    </li>
</ul>
<div id="addall" class="well well-sm white-background"><input type="checkbox"> Add all books to Cart</div>
<div class="tab-content">
	<div ui-view=""></div>
</div>	
    