<div class="input-group col-md-12" align="center" ng-show="in_loading">
	<img class="spinner"  src="app/images/images/spinner.gif" />
</div>
<form class="form-horizontal" ng-submit="updateProfile()" ng-hide="in_loading">
	<div class="form-group">
		<label class="col-sm-2 form_tags" >First Name</label>
	<div class="col-sm-10">
	   <input type="text" class="form-control box-radius inputbox-width" id="firstName" placeholder="Enter your first name" ng-model="profile_data.firstName">
	</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 form_tags">Last Name</label>
	    <div class="col-sm-10">
	      	<input type="text" class="form-control box-radius inputbox-width" id="lastName" placeholder="Enter your last name" ng-model="profile_data.lastName">
	   	</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 form_tags">Gender</label>
		<div class="col-sm-10">
	    <select class="form-control box-radius inputbox-width" ng-model="profile_data.gender">
		   <option>-Select Gender-</option>
	       <option value="Male">Male</option>
	       <option value="Female">Female</option>
	   </select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 form_tags">Birth date</label>
	<div class="col-sm-10">
	  	<input type="date" class="form-control box-radius inputbox-width" id="birthday" 
	  		ng-model="profile_data.birthdate">
		</div>
	</div>
	<div class="form-group">
	<label class="col-sm-2 form_tags">Alternative Email</label>
	    <div class="col-sm-10">
	       <input type="email" class="form-control box-radius inputbox-width" id="alternativeEmail" placeholder="Enter your alternate e-mail" ng-model="profile_data.alternateEmail">
	    </div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 form_tags">Mobile</label>
	    <div class="col-sm-10">
	       <input type="tel" class="form-control box-radius inputbox-width" id="mobile" placeholder="Enter your Mobile no." ng-model="profile_data.mobile">
	    </div>
	</div>
	<div class="form-group">
	<label class="col-sm-2 form_tags">Landline</label>
	<div class="col-sm-10">
	   <input type="tel" class="form-control box-radius inputbox-width" id="landline" placeholder="Enter your landline no." ng-model="profile_data.landline">
	</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
	  	<button type="submit" class="btn button-style button-width" type="submit">Save</button>
		</div>
	</div> 
</form>