
<div class="container">
	<!--List  -->
  	<div class="col-lg-3 col-md-3 tabbable tabs hidden-sm hidden-xs">
        <ul class="nav nav-pills nav-stacked side-menu">
			<li role="presentation" class="active"><a href="#FAQsGen" target="_parent" data-toggle="tab">General</a></li>
			<li role="presentation"><a href="#FAQsAcc" target="_parent" data-toggle="tab">My account</a></li>
			<li role="presentation"><a href="#FAQsRent" target="_parent" data-toggle="tab">Renting</a></li>
            <li role="presentation"><a href="#FAQsDelPK" target="_parent" data-toggle="tab">Delivery and Pick up</a></li>
            <li role="presentation"><a href="#FAQsPayment" target="_parent" data-toggle="tab">Payment</a></li>
            <li role="presentation"><a href="#FAQsStoreCred" target="_parent" data-toggle="tab">Store Credit</a></li>
            <li role="presentation"><a href="#FAQsCorp" target="_parent" data-toggle="tab">Corporate</a></li>
      	</ul>
	</div>
	<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
		<div class="form-group hidden-lg hidden-md col-sm-12 col-xs-12">
<!--				<label for="sel1">Select list:</label>				-->
			<select class="form-control" id="sel1">
				<option>General</option>
				<option>My account</option>
				<option>Renting</option>
				<option>Delivery and Pick up</option>
				<option>Payment</option>
				<option>Store Credit</option>
				<option>Corporate</option>
			</select>
		</div>
		<hr class="hidden-lg hidden-md">
		<section class="tab-content">
			<div class="tab-pane active" id="FAQsGen">

				<div class="quesbox open">
					<h4 class="toOpenAns"><b><a href="#">What is IndiaReads.com ?</a></b></h4>
					<p>IndiaReads.com is a Reading Hub. It is an online Rental Service for Books. It has its services on a pan-India level with free home delivery and pickup.</p>
				</div>
				<div class="quesbox">
					<h4 class="toOpenAns"><b><a href="#">I forgot my password. What do I do ?</a></b></h4>
					<p>Dont worry. Go to the login pop-up. Just click on "Forgot Password?" and follows the steps thereafter.</p>
				</div>
				<div class="quesbox">
					<h4 class="toOpenAns"><b><a href="#">What are IndiaReads.com's terms and conditions ?</a></b></h4>
					<p>Please refer to the 'Terms of Service' page on IndiaReads.com. You will find this link to the page at the bottom of the page.	</p>
				</div>
				<div class="quesbox">
					<h4 class="toOpenAns"><b><a href="#">Does IndiaReads.com provide e-books ?</a></b></h4>
					<p>No. For now, we are providing only physical books to our users.  We plan to introduce e-Books very soon.	</p>
				</div>
				<div class="quesbox">
					<h4 class="toOpenAns"><b><a href="#">How do I contact IndiaReads.com's team ?</a></b></h4>
					<p>Please call us on 1800-103-7323 or drop a line on at customercare@indiareads.com. Do mention your contact details. We will reach out to you within 24 hours.	</p>
				</div>
			</div>
			<div class="tab-pane" id="FAQsAcc">
				<div class="quesbox">
				<h4 class="toOpenAns"><b><a href="#">Where is IndiaReads.com's service available ?</a></b></h4>
				<p>IndiaReads.com service is available in over 500+ cities across India. Please check for service availability in your area by entering your pin-code in the "Check for service" section on Product page.	</p>
				</div>        
				<div class="quesbox">
					<h4 class="toOpenAns"><b><a href="#">What is 'My Account'? How do I update my information?</a></b></h4>
					<p>It is easy to update your account information on IndiaReads.com. You can view all your reading history in your bookshelf and your transactional history in History any time through 'My Account'. My Account' allows you complete control over your transactions on IndiaReads. You can Manage/edit your personal data like address, phone numbers, Change your password in the panel after you login to your account.	</p>
				</div>        
				<div class="quesbox">
					<h4 class="toOpenAns"><b><a href="#">How do I know my order has been confirmed?</a></b></h4>
					<p>You will be mailed upon confirmation and dispatch of your order. In case you want to check, the transaction current status is available on "My Order" page.	</p>
				</div>        
				<div class="quesbox">
					<h4 class="toOpenAns"><b><a href="#">Can I rent a book that is 'Out of Stock'?</a></b></h4>
					<p>You can add the book to your bookshelf. It goes to your wishlist and you will be informed as soon as a copy of the book is available for renting.	</p>
				</div>        
				<div class="quesbox">
					<h4 class="toOpenAns"><b><a href="#">How do I check the current status of my orders?</a></b></h4>
					<p>You can check it in "My Order" Page.	</p>
				</div> 
			</div>
			<div class="tab-pane" id="FAQsRent">
				
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What is Rental Cart ?</a></b></h4>
				        <p>A Rental Cart is a virtual shopping box that shows the details of all the books that the user is ready to rent in the present order. The user freezes the books in the Rental Cart and then proceeds for providing the delivery information and payment to confirm order.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What is my wishlist ?</a></b></h4>
				        <p>We are a user-driven library. When there are books which you want to rent but are not available, you put them in your wishlist. We try to procure these books and you are notified when they become available in library.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I add books to my Rental Cart ?</a></b></h4>
				        <p>Click on the Order button on the books you like. These books get added to your Bookshelf. You can select the books you want to rent presently and add them to your rental cart and proceed with the checkout when you are ready to confirm the order.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I add books to my wishlist ?</a></b></h4>
				        <p>When you find the book you have been looking for, click on "Order" button. In case the book is not available in library it gets added to your wishlist automatically.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Can I buy books from IndiaReads.com ?</a></b></h4>
				        <p>No. You cannot buy books from IndiaReads.com. However if you keep the book you rented for more than the available rental period, the it will be considered as sold.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Does IndiaReads.com sell second-hand books ?</a></b></h4>
				        <p>No. We do not sell second hand books. We rent books that may be circulated into reading to another user.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I cancel my order ?</a></b></h4>
				        <p>Please reach us on our toll-free 1800-103-7323 and we will try to process your request within 24 hours.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How will my payment be refunded ?</a></b></h4>
				        <p>In case you cancel your order, the payment will be credited to your Store Credit.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What are IndiaReads.com's terms and conditions ?</a></b></h4>
				        <p>Please refer to the 'Terms of Service' page on IndiaReads.com.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Can I order a book that is out of stock ?</a></b></h4>
				        <p>No. You cannot order a book product that is out of stock. You can place it in your wishlist so that you are informed by email as soon as the product is added to the library.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">I see different prices of books with the same title. Why ?</a></b></h4>
				        <p>Sometimes different editions and different bindings are available for the same title. This data is provided by publishers and distributors.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Is it necessary to have an account to rent books from IndiaReads.com ?</a></b></h4>
				        <p>Yes. You need Account on indiareads.com to rent books.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How will my payment be refunded ?</a></b></h4>
				        <p>The payment will be credited to your Store Credit. If you wish to take a payout, the payment will then be refunded to your Bank Account or sent to you by Cheque.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What are the delivery charges ?</a></b></h4>
				        <p>There are no delivery and pick up charges for all orders above INR 350. If the Rental Cart Value is below INR 300, a delivery charge of INR 50 is charged. The pick up in all cases is free of cost.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I tell IndiaReads.com which books I wish to see in their library ?</a></b></h4>
				        <p>Find books of your interest and add them to your book-shelf. In-case these books are not available with us, they go to your wishlist. We scan the wishlist of our users on a regular basis and keep adding books to the library.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Does IndiaReads.com keep multiple copies of titles ?</a></b></h4>
				        <p>Yes. We keep multiple copies of books in demand.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What is the size of IndiaReads.com library collection ?</a></b></h4>
				        <p>IndiaReads.com has a library collection of over 1.2 lac titles across 45 categories.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What is bookshelf ?</a></b></h4>
				        <p>My Bookshelf has four sections. 1. The list of books that you want to read. Search or browse through our collection and when you find a book that you would like to read. 2. The books you are currently reading 3. The books that you want to read but are not available in the library 4. The books that you have rented and read from IndiaReads.com	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I add books to my bookshelf ?</a></b></h4>
				        <p>Click on the bookshelf button on the page of the book you like. It gets added to your bookshelf. Go to My Bookshelf on the My Account Option. The Bookshelf option is also present near the search bar on top.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Is there any late fees in IndiaReads.com ?</a></b></h4>
				        <p>The rental is charged based on your rental period. Every book is available for a different rental period after which the book will be considered to be sold.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How long can I keep the books ?</a></b></h4>
				        <p>For the rental period that the book is available for. Every book is available for a different rental period after which the book will be considered to be sold.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Why does IndiaReads.com take Initial Payable over the Rental Price ?</a></b></h4>
				        <p>It's not that we don't trust our customers but we need to safeguard our books against unscrupulous elements. The remaining amount upon returning the book shall be refunded.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Is it necessary to have an account to rent books on IndiaReads?</a></b></h4>
				        <p>Yes, it is necessary to have an account to rent on IndiaReads. Being a rental service, we maintain the reading history and that is where we give you the option to Return Books that you have rented.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What is Initial Payable ?</a></b></h4>
				        <p>The Initial Payable is the payment taken upfront for renting a book. It is not the rent charged to you for renting. Only the rent is charged based on your rental structure and the remaining amount from the initial payment is refunded to you.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What is the Rental Structure for renting at IndiaReads ?</a></b></h4>
				        <p>Is varies from Book to book and the rental structure is available with each book listing. You can check the duration for which the book is available for renting and the amount that will be charged for keeping the book in each of these durations.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What if the Rental Structure changes after I rented the book ?</a></b></h4>
				        <p>You rent will be calculated based on the rental structure shown to you and that is the amount shown to you at the time of ordering the book.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What if I don't return the book in the applicable renting period ?</a></b></h4>
				        <p>The book is considered to be sold after the applicable renting period and the initial amount taken is entirely kept by IndiaReads.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What is renting period ?</a></b></h4>
				        <p>The duration for which a particular book is available for renting.	</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">If I rent two books at a time, can I return them separately ?</a></b></h4>
				        <p>Yes, each book rented is considered individually and the duration of books kept by you can vary.	</p>
				</div> 
			</div>
			<div class="tab-pane" id="FAQsDelPK">
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How does the pick-up work ?</a></b></h4>
				        <p>You don't have to worry about the pick-up. When you place a request for pick up, IndiaReads's representative / our logistics partner will pick-up the packet from your given address.   </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I pack the books to be returned ?</a></b></h4>
				        <p>With every delivery, we send one extra packet. Just slip the books in the extra packet. The delivery related information is already printed on the packet.      </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What if I lose or damage IndiaReads.com's books ?</a></b></h4>
				        <p>Please inform us at customercare@indiareads.com. There will be no refund applicable upon loss or damage of book and it will be assumed to be sold to you.       </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Can I ask for delivery but keep books rented earlier ?</a></b></h4>
				        <p>Yes. Each books is rented independently. So you can keep ordering as many books you want and keep returning each book seprately or together as per your wishes. </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">When do I receive my delivery after I put a rental request ?</a></b></h4>
				        <p>We try our best to provide the fastest door-step delivery. You will receive your delivery within 2 working days. If you stay in NCR region or other the prominent metros you may receive it the very next day.  </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Where do the library books get delivered ?</a></b></h4>
				        <p>Your books are delivered to the address you mention when you put a delivery request. You can add multiple addresses to your Address Book to use as and when required.   </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Can I change the address of delivery every order ?</a></b></h4>
				        <p>Yes. You are asked to choose a delivery address. You can choose a previously mentioned address or add a new address. Every order can be delivered at a new address if the service is available at the chosen pincode.   </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Who collects and delivers my books ?</a></b></h4>
				        <p>Once you request the delivery/pick-up of books on the portal  we take care of the rest. </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Are the deliveries and pick-up free of cost ?</a></b></h4>
				        <p>There are no delivery and pick up charges for all orders above INR 350. If the Rental Cart Value is below INR 300, a delivery charge of INR 50 is charged. The pick up in all cases is free of cost.    </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I know that the books have been issued to me ?</a></b></h4>
				        <p>When we send you books we email you the details of delivery. You can also find these details in the "currently reading" section on IndiaReads.com in your bookshelf.    </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I place a request for renting books ?</a></b></h4>
				        <p>Use the search or browse categories to find books of your interest. Add these books in your book-shelf. You can select the books available in your bookshelf that you want to rent presently and place a rental request by the process that follows after that. </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I ask for a pick-up ?</a></b></h4>
				        <p>You can ask for a pick-up by placing a pick-up request by clicking on "Return Books" in the bookshelf. Please follow the steps that follow thereafter.  </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What if I am not available at home when the delivery guy comes to deliver the books ?</a></b></h4>
				        <p>In most cases, the delivery representative calls you before making a delivery. In case you confirm the representative about your availability, please ensure that someone is present at the delivery address during the day. If this is not the case or you are travelling, then kindly inform customer care at the time of making the delivery request. Every delivery and pick up costs us money (not to mention fuel and the environmental aspects). </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What do I do after I am done with my reading ?</a></b></h4>
				        <p>Done reading ! Do not wait. Return the books as soon as you read the book. You rental charges increase with the increasing rental duration.     </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I know that my book-request is placed ?</a></b></h4>
				        <p>You will receive an email regarding your request. You will  notice "pending delivery" in your order history details.    </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What are IndiaReads.com's privacy policy ?</a></b></h4>
				        <p>Please read the privacy policy document for details.    </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How are the books packaged by IndiaReads.com ?</a></b></h4>
				        <p>We send books in a tamper-proof packet. This helps us avoid damage to books.    </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I return the books ?</a></b></h4>
				        <p>Done reading ! Put a request for pick-up and IndiaReads.com will arrange the pickup.    </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Do I have to return all the books at the same time ?</a></b></h4>
				        <p>No. Each book is treated independently and can be returned one by one or together as and when you finish reading the book.      </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">I have moved to a new city. Can I continue renting my books ?</a></b></h4>
				        <p>Yes. You just need to check that your Pincode is within our service area. It is highly probable that we have services in your new city. You can take your library where-ever you go.    </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What all locations does IndiaReads deliver books ?</a></b></h4>
				        <p>Please check the delivery pincodes at the How it works page.    </p>
				</div> 
			</div>
			<div class="tab-pane" id="FAQsPayment">
				
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I pay for IndiaReads.com transactions ?</a></b></h4>
				        <p>You can pay online with your debit card, credit card, net-banking, wallets or cash on delivery. </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Are there any hidden charges when I order at IndiaReads.com ?</a></b></h4>
				        <p>No taxes or additional charges apart from those mentioned on the website shall be charged.      </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What is cash on delivery ?</a></b></h4>
				        <p>You can rent books from IndiaReads.com without making an online payment when you opt for Cash on delivery. Pay the amount in cash when you receive the delivery.        </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Is it safe to use credit card / debit card on IndiaReads.com ?</a></b></h4>
				        <p>Yes.It is safe to use all payment options on IndiaReads.com.    </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I use credit card / debit card to pay on IndiaReads.com ?</a></b></h4>
				        <p>Please fill in your credit card or debit card details in the checkout process. It is safe to use your credit card/ debit card on Indiareads.com.        </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I use Internet Banking to pay on IndiaReads.com ?</a></b></h4>
				        <p>Please fill select the Internet Banking option and the bank you want to transact via and you will be directed to the internet banking portal of the Bank. Once you have made the payment, you will be redirected to IndiaReads website for order confirmation.  </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I place a cash-on-delivery order ?</a></b></h4>
				        <p>Please select Cash-on-delivery option in the checkout process.  </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Does IndiaReads.com provide Cash-on-Delivery ?</a></b></h4>
				        <p>Yes. We do provide Cash on Delivery service in over 100+ cities.        </p>
				</div>
			</div>
			<div class="tab-pane" id="FAQsStoreCred">
				
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What amount will be deducted from my initial payment ?</a></b></h4>
				        <p>It will be as per the rental structure of the book based on the duration.       </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What is Store Credit ?</a></b></h4>
				        <p>Every refund goes to Store Credit. Store-credit is like money which can be use/-re-used for any payment on IndiaReads.com. You can entirely pay for renting the book by using your Store Credits. In case its not sufficient for making the entire payment, the remaining amount can be paid online using Debit Card, Credit Card, Internet Banking, wallets or Cash on Delivery.

				</p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">What is Bonus Store Credit ?</a></b></h4>
				        <p>Bonus Store Credit is similar to Store Credit. It can be used for any payment on IndiaReads.com. You can entirely pay for renting the book by using Bonus Store credit. In case its not sufficient for making the entire payment, the remaining amount can be paid online using Debit Card, Credit Card, Internet Banking, wallets or Cash on Delivery. You cannot encash Bonus Store Credit. Everytime you encash Store Credit, your Bonus Store Credit goes to Nil.   </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I get Store Credits ?</a></b></h4>
				        <p>You get Store Credit for all refunds being made to you upon returning the books you rented.     </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I get Bonus Store Credits ?</a></b></h4>
				        <p>You get Bonus Store Credit as Bonuses from IndiaReads as customer loyalty program. We can give you Bonus Store Credit via direct additions, coupons abd by referrals. You can also get Store Credit by referrals. Invite your friends to join IndiaReads.com and get Bonus Store Credits when they start renting books. </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Why do I take refund in Store Credits ?</a></b></h4>
				        <p>The Store Credit feature lets you conveniently place orders on IndiaReads. It helps yo to make payments without entering card or bank details every single time. It makes your checkout simpler and faster. Moreoever we keep running offers where we give Bonus Store Credits for all refunds taken in Store Credit.   </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I check my Store Credit Balance ?</a></b></h4>
				        <p>You can check your Store Credit Balance by going to "My Orders" Page or by going to Store Credit page. On the My orders page, you can check details of each transaction that you have made on the website and the portion of it from Direct Payment, Store Credit and Bonus Store Credit.       </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I check my Bonus Store Credit Balance ?</a></b></h4>
				        <p>You can check your Bonus Store Credit Balance by going to "My Orders" Page or by going to Store Credit page. On the My Orders page, you can check details of each transaction that you have made on the website and the portion of it from Direct Payment, Store Credit and Bonus Store Credit. </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I redeem my Store Credit ?</a></b></h4>
				        <p>The Store Credit is automatically used everytime you place an order from IndiaReads.com. In order to utilize your Store Credit, keep renting books from IndiaReads.     </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I redeem my Bonus Store Credit ?</a></b></h4>
				        <p>The Bonus Store Credit is automatically used everytime you place an order from IndiaReads.com. In order to utilize your Bonus Store Credit, keep renting books from IndiaReads. The priority is given to Store Credit to be utilized first and then the Bonus Store Credit and if there is any amount that is remaining to be paid, then you need to utilize your card or bank or COD option.   </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Is there any expiry for Store Credit Balance ?</a></b></h4>
				        <p>No, there is no expiry date for Bonus Store Credit. You can use it whenever you want.   </p>
				</div> 
			</div>
			<div class="tab-pane" id="FAQsCorp">
				
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">Does IndiaReads.com provide corporate library services ?</a></b></h4>
				        <p>IndiaReads.com is India's Largest Online Library with library services across 500+ cities in India. Its extensive Library collection coupled with state-of-the-art customer service makes it an ideal library to be a part of. As a corporate library service-provider the USP of IndiaReads.com is its collection covering but not limited to Management.      </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How can my company avail IndiaReads.com's library services ?</a></b></h4>
				        <p>Please ask your HR team to get in touch with indiareads.com or connect us to the HR by writing to us at customercare@indiareads.com     </p>
				</div>        
				<div class="quesbox">
				        <h4 class="toOpenAns"><b><a href="#">How do I get information of IndiaReads.com's Corporate library services ?</a></b></h4>
				        <p>Please write your corporate library query to p.bafna@indiareads.com. You can find a brief description of IndiaReads.com's Corporate Library Services here.      </p>
				</div>
			</div>
		</section>	
	</div>
</div>
<script>
	$(document).ready(function() {
		$('.toOpenAns').on('click',function(event) {
			$(this).siblings('p').toggle('fast');	
		});
	});
</script>