<div class="row">
    <form class="form-horizontal marginbottom" novalidate="novalidate" ng-submit="forgotPassword()">
          <div class="col-md-6 rightborder">
              <h4>Forgot Password</h4>
              <p>
                <input type="email" class="form-control" id="changePassword" placeholder="Enter your E-mail Id" ng-model="user_email" required>
              </p>
              <p>
                <button type="submit" class="btn btn-IR" style="width: 120px;">Submit</button>
              </p>
              <p>
                New to Indiareads.com ? <a ui-sref="login"><b id="red-text">Sign Up</b></a>
              </p>
          </div>
          <div class="col-md-6">
              <h4><b>Password Assistance</b></h4>
              <p>Enter the E-mail Address associated with your Indiareads.com account, then  click Submit. We'll send you a link to a page  where you can easily create a password.</p>
              <p>
                In case of having problem, contact our customer service <b id="red-text">1800-103-7323</b>.
              </p>
          </div>
    </form>
</div>
<div class="row">
    <div ng-show="response_message_success" class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p>Please check your Email to reset password.</p>
    </div>

    <div ng-show="response_message_no_user" class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p>No such user. You may not have registered. Please <a ui-sref="login">Register</a></p>
    </div>
</div>