<div class="container">
	<div id="carousel-hiw" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators indicator-step hw-transform">
			<li data-target="#carousel-hiw" data-slide-to="0" class="active"><span>Browse</span></li>
			<li data-target="#carousel-hiw" data-slide-to="1"><span>Order</span></li>
			<li data-target="#carousel-hiw" data-slide-to="2"><span>Read</span></li>
			<li data-target="#carousel-hiw" data-slide-to="3"><span>PickUp</span></li>
			<li data-target="#carousel-hiw" data-slide-to="4"><span>Return</span></li>
			<li data-target="#carousel-hiw" data-slide-to="5"><span>More</span></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item hiwItem active">
				<img src="app/images/images/banner-1.png">
			</div>
			<div class="item hiwItem">
				<img src="app/images/images/banner-2.png">
			</div>
			<div class="item hiwItem">
				<img src="app/images/images/banner-3.png">
			</div>
			<div class="item hiwItem">
				<img src="app/images/images/banner-4.png">
			</div>
			<div class="item hiwItem">
				<img src="app/images/images/banner-5.png">
			</div>
			<div class="item hiwItem">
				<img src="app/images/images/banner-6.png">
			</div>

		</div>
	</div>
</div>
<script>
	$(function(){
    $('.carousel').carousel({
          interval: 4000
        });
    });
</script>