<div class="container loginbody">

	<div class="input-group col-md-12" align="center" ng-show="in_loading">

        <img class="spinner"  src="app/images/images/spinner.gif" />

  	</div>

	<div class="row" ng-hide="in_loading">
		<div class="col-md-6 white-background">
			<div class="login margintop"><h4>Log In to<img src="app/images/images/logo.png" width="150" class="marginleft"></h4></div>
			<input ng-model="userEmail"
			class="form-control margintop box-radius inputbox-width" 
			id="email" placeholder="Enter your email id" required>
			<input ng-model="userPassword"
			class="form-control margintop box-radius inputbox-width" 
			id="password" placeholder="Enter your password" 
			type="password" required>
			<div>
				<button class="btn margintop btn-IR" ng-click="login()" type="submit">LOGIN</button>
				<a ui-sref="forgot" id="forgotpass">Forgot Password ?</a>
			</div>
			<div class="margintop"><h3>Login with your social account</h3></div>
			<div>
				<a class="margintop" ng-click="facebookLogin()"><img src="app/images/images/sign-in-fb-btn.png" alt="Sign in with Facebook">
				</a>
				<a class="margintop" ng-click="googleLogin()"><img src="app/images/images/sign-in-google-btn.png" alt="Sign in with Google">
				</a>
			</div>
		</div>
		<div class="col-md-6 white-background">
		<form novalidate="novalidate" ng-submit="signup()">
			<div class="margintop"><h3>New Users</h3></div>
			<div class="form-group">
				<input type="email" class="form-control margintop box-radius inputbox-width" id="email" placeholder="Enter your email id" ng-model="new_signup_email" required>
				<button class="btn btn-IR button-style margintop">SIGN UP</button>
			</div>
		</form>
		</div>
	</div>

</div><!-- container -->