<div class="sub-header">
  <p align="center" style="padding:5px;">Reset Password</p>
</div><!-- sub-header -->
<form class="form-horizontal marginbottom">
  	<div class="form-group">
     	<label class="col-sm-3 form_tags" align="right">New Password</label>
            <div class="col-sm-9">
              	<input class="form-control box-radius inputbox-width" id="changePassword" placeholder="Enter your new password" ng-model="password" type="password">
           </div>
 	</div><!-- form-group -->
 	<div class="form-group">
     	<label class="col-sm-3 form_tags" align="right">Re-Type Password</label>
            <div class="col-sm-9">
              	<input class="form-control box-radius inputbox-width" id="reTypePassword" placeholder="Re-Enter your new password" type="password">
           	</div>
 	</div><!-- form-group -->
	<div class="form-group">
       	<div class="col-sm-offset-3 col-sm-9">
          	<button type="submit" class="btn button-style button-width" width="60px"
            ng-click="setPassword()">Submit</button>
       	</div>
 	</div><!-- form-group -->
</form>