<div class="row wrapper">
	<div class="panel panelCart box-radius">
		<div class="panel-heading ">
			<div>Return books <span class="badge">5</span></div>
		</div>
		<div class="panel-body">
			<div class="row ccRowhdr hidden-sm hidden-xs">
				<div class="brdrRB col-lg-6 col-md-6 cartHead"><span>Item</span></div>
				<div class="brdrRB col-lg-2 col-md-2 cartHead"><span>Initial Payable</span></div>
				<div class="brdrRB col-lg-2 col-md-2 cartHead"><span>Applicable Rent</span></div>
				<div class="brdrRB col-lg-2 col-md-2 cartHead"><span>Refund Amount <sup class="text-danger">*</sup></span></div>
				<div class="clear"></div>
			</div>
			<div class="row ccRowitm">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 brdrRB">
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-3 cartImage"><a href="productPage.html"><img class="img100" src="app/images/images/book.jpg" alt="TITLE"></a></div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-9 cartInfo">
						<p class="ttl">The Title of the Title by the Title</p>
						<p class="auth">by: Voldemort Tom Riddle</p>
						<p class="cmbshw"><span class="ctotl">Initial Payable :</span><span class="ctotr">Rs. 1178</span></p>
						<p class="cmbshw"><span class="ctotl">Applicable Rent :</span><span class="ctotr">Rs. 89s</span></p>
						<p class="cmbshw text-danger"><span class="ctotl">Refund Amount :</span><span class="ctotr">Rs. 760</span></p>
						<div class="remCart"><a href="#" class="btn btn-link">Remove</a></div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs brdrRB">Rs. 1178</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs brdrRB">Rs. 89</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs brdrRB text-danger">Rs. 760</div>
				<div class="clear"></div>
			</div>
			<div class="row ccRowitm">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 brdrRB">
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-3 cartImage"><a href="productPage.html"><img class="img100" src="app/images/images/book.jpg" alt="TITLE"></a></div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-9 cartInfo">
						<p class="ttl">The Title of the Title by the Title</p>
						<p class="auth">by: Voldemort Tom Riddle</p>
						<p class="cmbshw"><span class="ctotl">Initial Payable :</span><span class="ctotr">Rs. 1178</span></p>
						<p class="cmbshw"><span class="ctotl">Applicable Rent :</span><span class="ctotr">Rs. 89</span></p>
						<p class="cmbshw text-danger"><span class="ctotl">Refund Amount :</span><span class="ctotr">Rs. 760</span></p>
						<div class="remCart"><a href="#" class="btn btn-link">Remove</a></div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs brdrRB">Rs. 1178</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs brdrRB">Rs. 89</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs brdrRB text-danger">Rs. 760</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-lg-4 pull-right">
					<h4 class="text-danger">
						<span class="pull-left">Total Refund Amount:</span>
						<span class="pull-right">Rs. 330</span>
						<div class="clear"></div>
					</h4>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 pull-right">
			<div class="col-lg-6 pull-left">
				<p>Select Pickup Date</p>
				<input type="datetime" class="form-control">
			</div>
			<div class="col-lg-6 pull-right">
				<p>Refund Mode : Store Credit</p>
				
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 pull-right retCrtAxn">
		<div class="col-lg-6 pull-left">
			<button class="btn" ui-sref="homepage">Continue shopping</button>
		</div>
		<div class="col-lg-6 pull-right">
			<button class="btn btn-IR" ui-sref="pickup">Proceed</button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<hr>
	<div><b><sup class="text-danger">*</sup>Refund Instructions :</b></div>
	<hr>
	<div class="">
		<ol>
			<li>Refund will be processed on receipt of books at IndiaReads.com office.</li>
			<li>Refund will be due when books are returned in good condition (damage, highlighting, marking, etc. are not acceptable)</li>
			<li>In case the pick-up gets delayed by a day or two, the refund amount will be the same as mentioned below</li>
		</ol>
	</div>
</div>