<div class="container return">
	<div class="sub-header">
		<p align="center" style="padding:5px;">Return Summary</p>
	</div><!-- sub-header -->
	<div class="row marginbottom">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<ul class="list-group returnLG">
				<li class="list-group-item"><span class="pull-left">Half Girlfriend</span><span class="pull-right">Rs. 106</span><p class="clear"></p></li>
				<li class="list-group-item"><span class="pull-left">Losing My Religion</span><span class="pull-right">Rs. 119</span><p class="clear"></p></li>
				<li class="list-group-item"><span class="pull-left">Harry Potter and the G...</span><span class="pull-right">Rs. 359</span><p class="clear"></p></li>
				
				<li class="list-group-item colorIR dashed-border-return"><span class="pull-left"><b>Total Refund :</b> </span><span class="pull-right"><b>Rs. 500</b></span><p class="clear"></p></li>
			</ul>
			<div class="clear"></div>
			<p class="margintop">Refund Mode: Store Credits</p>
			<p class="margintop">Pickup Date: September 22, 2015</p>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<a href="#" class="thumbnail pickup">
			  	<ul class="list-unstyled">
			  		<h4>Pickup Address</h4>
				 	<li>Raman Kumar</li>
				    <li>Sector-55</li>
				    <li>house number E-41</li>
				    <li>noida -200400</li>
			        <li>UttarPradesh</li>
			        <li>phone: 7042083421</li>
			    </ul><!-- list-unstyled -->
			</a><!-- thumbnail -->
		</div>
		<div class="clear"></div>
	</div><!-- row -->
	<button class="btn button-style margintop continue-btn">Continue Shopping</button>
</div>