<div class="row">
	<div class="col-md-8">
		<div class="thank-you-card well row-centered">
			<h3 id="red-text">Thank You, Your Order has been placed.</h3>
			<div>
				<p>Your order been placed and is being processed. When the item(s) are shipped we will inform you the details with an email. You can track your orders through My Orders page.</p>
			</div>
		</div><!-- thank-you-card -->
		<div class="row">
			<div class="col-md-6">
				<div class="well well-sm">
					<div class="row row-centered margintop">
						<div class="col-md-5">Order Date</div>
						<div class="col-md-2"><p>:</p></div>
						<div class="col-md-5"><p>21/09/2015</p></div>
					</div><!-- row -->
					<div class="row row-centered margintop">
						<div class="col-md-5">Order ID</div>
						<div class="col-md-2"><p>:</p></div>
						<div class="col-md-5"><p>87658</p></div>
					</div><!-- row -->
					<div class="row row-centered margintop">
						<div class="col-md-5">Payment Method</div>
						<div class="col-md-2"><p>:</p></div>
						<div class="col-md-5"><p>COD</p></div>
					</div><!-- row -->
				</div><!-- well -->
			</div><!-- col-md-6 -->
			<div class="col-md-6">
				<div class="well well-sm row">
					<div class="col-md-6">
						<p>Shipping Address:</p>
					</div>
					<div class="col-md-6">
						<ul class="list-unstyled">
        				 	<li id="name"><p>Raman Kumar</p></li>
						    <li id="address-line1"><p>Sector-55</p></li>
						    <li id="address-line2"><p>house no. E-41</p></li>
						    <li id="address-line3"><p>noida -200400</p></li>
	                        <li id="state"><p>Uttar Pradesh</p></li>
	                        <li id="phone"><p>Ph: 7042083421</p></li>
		                </ul>
					</div>
				</div><!-- well -->
			</div><!-- col-md-6 -->
		</div><!-- row -->
	</div><!-- col-md-8 -->
	<div class="col-md-4">
		<div class="panel panel-primary panel-style box-radius">
		    <div class="panel-heading panel-style">
		        <h3 class="panel-title row-centered">Order Summary</h3>
		    </div><!-- panel-heading -->
		    <div class="panel-body well well-sm">
		        <div class="row margintop">
		        	<div class="col-md-8">
			        	<div id="bookname">Name of the book</div>
			        	<div id="authorname">by Author Name</div>
		        	</div><!-- col-md-8 -->
		        	<div class="col-md-4">
		        		<div id="bookprice">Rs. 165</div>
		        	</div><!-- col-md-4 -->
		        </div><!-- row -->
		        <div class="row margintop">
		        	<div class="col-md-8">
			        	<div id="bookname">Name of the book</div>
			        	<div id="authorname">by Author Name</div>
		        	</div><!-- col-md-8 -->
		        	<div class="col-md-4">
		        		<div id="bookprice">Rs. 165</div>
		        	</div><!-- col-md-4 -->
		        </div><!-- row -->
		        <div class="row margintop">
		        	<div class="col-md-8">
			        	<div id="bookname">Name of the book</div>
			        	<div id="authorname">by Author Name</div>
		        	</div><!-- col-md-8 -->
		        	<div class="col-md-4">
		        		<div id="bookprice">Rs. 165</div>
		        	</div><!-- col-md-4 -->
		        </div><!-- row -->
		        <div class="row margintop">
		        	<div class="col-md-8">
			        	<div id="bookname">Name of the book</div>
			        	<div id="authorname">by Author Name</div>
		        	</div><!-- col-md-8 -->
		        	<div class="col-md-4">
		        		<div id="bookprice">Rs. 165</div>
		        	</div><!-- col-md-4 -->
		        </div><!-- row -->
		        <div class="row margintop">
		        	<div class="col-md-8">
			        	<div id="bookname">Name of the book</div>
			        	<div id="authorname">by Author Name</div>
		        	</div><!-- col-md-8 -->
		        	<div class="col-md-4">
		        		<div id="bookprice">Rs. 165</div>
		        	</div><!-- col-md-4 -->
		        </div><!-- row -->
		        <div class="row margintop">
		        	<div class="col-md-8">
			        	<div id="bookname">Name of the book</div>
			        	<div id="authorname">by Author Name</div>
		        	</div><!-- col-md-8 -->
		        	<div class="col-md-4">
		        		<div id="bookprice">Rs. 165</div>
		        	</div><!-- col-md-4 -->
		        </div><!-- row -->
		        <div class="row dashed-border" id="red-text">
		        	<div class="col-md-8">
		        		<div>Total Payable</div>
		        	</div><!-- col-md-8 -->
		        	<div class="col-md-4">
		        		<div id="totalprice">Rs. 347</div>
		        	</div><!-- col-md-4 -->
		        </div><!-- row -->
      		</div><!-- panel-body -->
    	</div><!-- panel -->
	</div><!-- col-md-4 -->
</div><!-- row -->
<div class="well row-centered"><a href="#" id="red-text">Continue Shopping</a></div>